@CHARSET "UTF-8";
html, body, head {
    font-size: 100%;
    background: #fff;
}

.logo {
    float: left;
    margin-left: 10px;
}

.banner {
    background: url(../images/index/banner.png) no-repeat center;
    min-height: 600px;
    background-size: cover;
}

.banner-main {
    padding: 15em 0em 0em 0em;
    text-align: center;
}

.banner-main h2 {
    font-size: 3em;
    color: #fff;
}

.banner-main p {
    font-size: 1em;
    color: #fff;
}

.about {
    padding: 5em 0em 3em 0em;
}

.about-left h3 {
    font-size: 35px;
    color: #2CB12C;
    padding-bottom: 20px;
}

.about-left h5 {
    font-size: 1.2em;
    color: #000;
    margin: 0em 0em 1em 0em;
}

.about-left p {
    font-size: 1em;
    color: #b4b4b4;
    line-height: 1.8em;
}

span.glyphicon.glyphicon-star-empty.ab-gd-img {
    font-size: 3em;
    color: #c9c9c9;
}

span.ab-gd-img {
    float: left;
    width: 15%;
}

.ab-gd-text {
    float: right;
    width: 85%;
}

.ab-gd-text h6 {
    font-size: 1.1em;
    color: #2A2828;
    margin-bottom: 0.4em;
}

.about-left p {
    font-size: 1em;
    color: #b4b4b4;
    line-height: 1.8em;
}

span.glyphicon.glyphicon-cloud.ab-gd-img {
    font-size: 3em;
    color: #c9c9c9;
}

.about-right {
    margin-top: 2%;
}

.about-right img {
    width: 500px;
    height: 220px;
}

.about-right p {
    color: #b4b4b4;
    line-height: 1.8em;
    font-size: 1em;
    margin: 1em 0em 0em 0em;
}

.testimo {
    background: url(../images/index/testImo.png) no-repeat center;
    background-size: cover;
    min-height: 330px;
}

.testimo-main {
    text-align: center;
    padding: 6em 0em 0em 0em;
}

.testimo-main h3 {
    font-size: 2.3em;
    color: #fff;
    margin-bottom: 0.2em;
}

.testimo-main p {
    font-size: 1em;
    color: #fff;
    line-height: 1.8em;
}

.testimo-main a {
    font-size: 1em;
    color: #fff;
    padding: 0.5em 1em;
    display: inline-block;
    border: 3px double #fff;
    margin: 1.4em 0em 0em 0em;
}

.dreams {
    padding: 2em 0em 2em 0em;
}

.dream-top {
    text-align: center;
    padding: 0em 0em 2.5em 0em;
}

.dream-top h3 {
    font-size: 3em;
    color: #2CB12C;
    margin-bottom: 0.2em;
}

.dream-top p {
    font-size: 1em;
    color: #b4b4b4;
    line-height: 1.8em;
}

.dream-grid {
    text-align: center;
    margin-left: 70px;
}

.dream-grid h3 {
    font-size: 1.8em;
    color: #2CB12C;
}

.dream-grid h4 {
    font-size: 1.2em;
    color: #000;
    margin: 1em 0em 0.3em 0em;
}

.ab-info {
    padding: 4em 0em 4em 0em;
    background: #F0F0F0;
}

.ab-info-bott {
    position: relative;
}

.ab-info-left h3 {
    font-size: 1.7em;
    color: #2CB12C;
    line-height: 1.5em;
}

.ab-info-left p {
    font-size: 1em;
    margin: 1em 0em 0em 0em;
    color: #000000;
    line-height: 1.6em;
}

span.ab-line {
    background: #999;
    width: 2px;
    height: 100px;
    display: block;
    position: absolute;
    top: 0%;
    left: 85%;
}

.ab-info-right p {
    font-size: 1em;
    color: #000000;
    line-height: 1.8em;
}

.ab-info-right a {
    font-size: 0.9em;
    color: #000000;
    padding: 0.4em 0em 0.4em 0em;
    display: inline-block;
    width: 20%;
    background: none;
    border: 3px double #2CB12C;
    text-align: center;
    margin: 1em 0em 0em 0em;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.introduce {
    width: 85%;
    margin: 0px auto;
}

.introduce p {
    margin-bottom: 25px;
    font-size: 17px;
}

.banner {
    margin-bottom: -50px;
}

.foot-banner {
    min-height: 600px;
    background-size: cover;
    background: #F4F3EE;
    margin-bottom: 15px;
    padding-top: 80px;
}

.foot-banner .row {
    margin-bottom: 10px;
}

.mydetails {
    height: 500px;
    padding: 5px;
    color: #6F7A7E;
    background: #fff;
    border: 1px solid #EEEEEE;
}

.mydetails span {
    margin-left: 40px;
    color: #999999;
}

.mydetails .item-info {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
    background: #fff;
    float: left;
}

.mydetails .item-info strong {
    color: #43AC43;
    margin-left: 10px;
}

.mydetails img {
    width: 70px;
    height: 70px;
}

.mydetails .item1 {
    margin-top: -8px;
    width: 100%;
    font-size: 19px;
    background: #fff;
    float: left;
}

.mydetails .item1 img {
    width: 120px;
    height: 120px;
}

.mydetails .item1 .itemsun {
    float: right;
    margin-top: 35px;
    width: 60%;
}

.mydetails .item1 strong {
    color: #43AC43;
    margin-left: 10px;
}

.myskills a {
    margin-top: -3px;
    margin-left: 10px;
    color: #fff;
    background: #43AC43;
    border-radius: 50px;
    display: block;
    font-size: 1em;
    width: 140px;
    font-weight: 400;
    padding: 0.4em 1.5em;
    text-decoration: none;
}

.myskills .content-text {
    width: 730px;
    margin-left: 10px;
    background: #fff;
    padding: 10px;
}

.myskills img {
    width: 730px;
    margin: 10px;
}

.myskills .itemskills {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 20px;
    background: #fff;
    padding: 10px;
}

.myskills .itemskills p {
    margin: 10px;
    color: #6F7A7E;
}

.myskills .itemskills p {
    margin: 10px;
    color: #6F7A7E;
}

.box1 {
    height: 130px;
    font-weight: bold;
    padding-top: 14px;
}

.foot-h2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.foot-contain {
    width: 85%;
    margin: 0px auto;
}

.foot-contain p {
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 1.8;
}

.help-search-form {
    margin: auto;
    text-align: center;
    width: 580px;
}

.main {
    padding-top: 80px;
}

.search_hot {
    text-align: center;
    margin-top: 10px;
}

.search_hot ul {
    list-style: none;
}

.search_hot ul li {
    display: inline-block;
    padding-left: 10px;
}

.join {
    width: 85%;
    margin: 0px auto;
}

.join p {
    margin: 10px;
    text-align: center;
}

.join h3 {
    text-align: center;
}

.join h3 span {
    color: #41A85F;
}

.join table tr td {
    border: #999999 2px solid;
}

.media {
    width: 85%;
    margin: 0px auto;
}

.media p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.media h3 small {
    margin-top: 10px;
    margin-bottom: 10px;
}

.media a {
    text-decoration: none !important;
    color: #43AC43;
}

.blog-pagenat {
    margin-top: 10px;
    text-align: center;
}

.blog-pagenat ul li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}

.blog-pagenat ul li a:hover {
    background: #fff;
    color: #6F7A7E;
}

.blog-pagenat ul li a {
    display: block;
    background: #F1F2F2;
    text-transform: uppercase;
    color: #6F7A7E;
    padding: 4px 0.6em;
    font-size: 1.3em;
    font-weight: 400;
    margin-top: 1em;
    text-decoration: none;
}

a:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.publish-banner {
    min-height: 600px;
    background-size: cover;
    background: #F4F3EE;
    margin-bottom: 15px;
    padding-top: 80px;
}

.banner-info {
    padding: 2em 0em 0em 0em;
    text-align: center;
}

.banner-info h2 {
    color: #43ac43;
    font-size: 2em;
    font-family: 'MontserratAlternates-Regular';
}

.banner-info p {
    padding: 3em 0em 0em 0em;
    font-size: 1em;
    color: #FF0000;
}

.item-drop {
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 150px;
    margin-top: 50px;
    text-align: center;
    color: #080808;
}

.publish-center {
    display: none;
    width: 320px;
    height: 120px;
    margin-top: 150px;
    margin-left: 450px;
    border: white solid 3px;

}

.triangle-center {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent white transparent;
    font-size: 0;
    line-height: 0;
    position: relative;
    top: -23px;
    left: 80px;
}

.terms {
    width: 85%;
    margin: 0px auto;
}

.banner-item {
    width: 100px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.item {
    background: #F4F3EE center;
    min-height: 1300px;
    padding-top: 80px;
    color: #494E50;
}

.item h2 {

    color: #43ac43;
}

.form-horizontal {
    position: absolute;
    left: 200px;
    right: 200px;
    top: 200px;
    border: #CCCCCC 1px solid;
    height: 1060px;
    padding-top: 40px;
    padding-bottom: 0em;
    padding-left: 60px;
    background: #FFFFFF;
}

.form-group-lg {
    margin-top: 10px;
}

.col-md-9 {
    padding: 0.5em 0em 0em 5em;
}

.col-md-1 {
    padding-left: 2em;
    width: 150px;
}

#reviewPicker .user-avatar img {
    width: 120px;
    height: 120px;
    margin: 0px;
}

.user-avatar {
    margin-left: 0px;
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
}

.user-avatar img {
    border: none;
    position: absolute;
    margin-left: -60px;
}

.changeHead {
    margin-top: -120px;
}

.changeHead input {
    position: relative;
    width: 120px;
    height: 120px;
    cursor: pointer;
    opacity: 0;
    display: inline-block;
}

.left {
    float: left;
}

.finish h2 {
    margin-top: -50px;
    color: #43ac43;
    padding: 3em 0em 0em 0em;
    font-size: 2em;
    text-align: center;
}
.finish img{
    margin: 40px auto;
}

.Login_other {
    margin-top: 20px;
}

.finish_other {
    margin-left: 380px;
}

.Login_other ul li a {
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    text-decoration: none;
    padding-bottom: 10px;
    border: solid 1px #6F7A7E;
    border-radius: 24px;
    background-color: white;
    color: #6F7A7E;
}

.phone {
    margin: 0px 300px;
    padding-top: 80px;
}

.phone h2 {
    color: #43AC43;
    text-align: center;
}

.phone-logo {
    margin: 40px 0px;
}

.login_pos {
    margin-top: 10px;
    margin-bottom: 20px;
}

.phone-logo {
    background: #43AC43;
    line-height: 40px;
    width: 100px;
    border-radius: 4px;
    border: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.Login_other ul {
    padding-top: 20px;
    list-style: none;
}

.Login_other ul li {
    display: inline-block;
}

.phone_num {
    padding: 10px 180px;
}

.form-control1 {
    height: 40px;
}

.verification {
    float: left;
    width: 280px;
    margin-bottom: 20px;
}

.code {
    height: 40px;
    font-size: 30px;
    margin-left: 15px;
    float: left;
    color: #43AC43;
}

.id_code_pos {
    float: left;

}

.id_code {
    height: 40px;
    background: #43AC43;
    line-height: 30px;
    width: 90px;
    margin-left: 10px;
    border-radius: 4px;
    border: 0px;
    color: #fff;
    font-size: 15px;
}

.content-box.boxstyle-1 {
    background: #F4F3EE;
}

.zerogrid {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0px;
}

.publish-banner .container .row {
    margin-bottom: 10px;
}

.zerogrid .row {
    zoom: 1;
}

.content-box .wrap-box {
    padding: 30px 10px;
    position: relative;
}

.zerogrid .col-1-3 {
    width: 33.33%;
}

.zerogrid .wrap-col {
    margin: 10px;
    margin-bottom: 20px;
}

.content-box.box-1 .post {
    display: inline-block;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
}

.content-box.box-1 .post {
    display: inline-block;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.content-box.box-1 h4 {
    color: #000;
    font-weight: bold;
}

.content-box.box-1 .upload {
    padding: 5px 15px;;
    border-top: 1px solid #eee;
    font-size: 15px;
    color: #555;
}

.content-box.box-1 .upload:hover {
    background: #DDD;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.content-box.box-1 .upload a {
    color: #FE9B13;
    font-weight: bold;
}

.content-box.box-1 .upload a:hover {
    color: #000;
}

.content-box.box-1 .upload p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mypeople {
    margin-top: -30px;
}

.mypeople img {
    width: 50px !important;
    height: 50px;
    border-radius: 50% !important;
}

.content-box.box-1 .upload p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mypeople p {
    font-size: 14px;
    line-height: 18px;
    margin-top: -15px !important;
    margin-left: 70px;
}

.mypeople span {
    margin-left: 50px;
    color: #999999;
}

.zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6 {
    float: left;
    display: inline-block;
}

a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
}

a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
}

a.mask.zoom-img:hover {
    -webkit-transform: scale(1.15);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 750ms;
    -moz-transform: scale(1.15);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 750ms;
    overflow: hidden;
}

a.mask.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.zerogrid {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0px;
}

.zerogrid:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.zerogrid .f-right {
    float: right !important;
}

.zerogrid .f-left {
    float: left !important;
}

.zerogrid .row {

}

.zerogrid .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.zerogrid .row:after {
    clear: both;
}

.zerogrid .row {
    zoom: 1;
}

.zerogrid .wrap-col {
    margin: 10px;
    margin-bottom: 20px;
}

.zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6 {
    float: left;
    display: inline-block;
}

.zerogrid .col-full {
    width: 100%;
}

.zerogrid .col-1-2 {
    width: 50%;
}

.zerogrid .offset-1-2 {
    margin-left: 50%;
}

.zerogrid .col-1-3 {
    width: 33.33%;
}

.zerogrid .col-2-3 {
    width: 66.66%;
}

.zerogrid .offset-1-3 {
    margin-left: 33.33%;
}

.zerogrid .offset-2-3 {
    margin-left: 66.66%;
}

.zerogrid .col-1-4 {
    width: 25%;
}

.zerogrid .col-2-4 {
    width: 50%;
}

.zerogrid .col-3-4 {
    width: 75%;
}

.zerogrid .offset-1-4 {
    margin-left: 25%;
}

.zerogrid .offset-2-4 {
    margin-left: 50%;
}

.zerogrid .offset-3-4 {
    margin-left: 75%;
}

.zerogrid .col-1-5 {
    width: 20%;
}

.zerogrid .col-2-5 {
    width: 40%;
}

.zerogrid .col-3-5 {
    width: 60%;
}

.zerogrid .col-4-5 {
    width: 80%;
}

.zerogrid .offset-1-5 {
    margin-left: 20%;
}

.zerogrid .offset-2-5 {
    margin-left: 40%;
}

.zerogrid .offset-3-5 {
    margin-left: 60%;
}

.zerogrid .offset-4-5 {
    margin-left: 80%;
}

.zerogrid .col-1-6 {
    width: 16.66%;
}

.zerogrid .col-2-6 {
    width: 33.33%;
}

.zerogrid .col-3-6 {
    width: 50%;
}

.zerogrid .col-4-6 {
    width: 66.66%;
}

.zerogrid .col-5-6 {
    width: 83.33%;
}

.zerogrid .offset-1-6 {
    margin-left: 16.66%;
}

.zerogrid .offset-2-6 {
    margin-left: 33.33%;
}

.zerogrid .offset-3-6 {
    margin-left: 50%;
}

.zerogrid .offset-4-6 {
    margin-left: 66.66%;
}

.zerogrid .offset-5-6 {
    margin-left: 83.33%;
}

.content-box.box-1 img {
    max-height: 230px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0px;
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .zerogrid {
        width: 960px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .zerogrid {
        width: 768px;
    }
}

@media only screen and (max-width: 767px) {
    .zerogrid, .zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6 {
        width: 100%;
    }

    .zerogrid .offset-1-2, .zerogrid .offset-1-3, .zerogrid .offset-2-3, .zerogrid .offset-1-4, .zerogrid .offset-2-4, .zerogrid .offset-3-4, .zerogrid .offset-1-5, .zerogrid .offset-2-5, .zerogrid .offset-3-5, .zerogrid .offset-4-5, .zerogrid .offset-1-6, .zerogrid .offset-2-6, .zerogrid .offset-3-6, .zerogrid .offset-4-6, .zerogrid .offset-5-6 {
        margin-left: 0;
    }
}

.main {
    text-align: center;
}

.main p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-setting {
    padding-top: 120px;
    text-align: left;
    padding-bottom: 40px;
}

.item-setting .container table {
    width: 100%;
    color: #6f7a7e;
    font-size: 18px;
    margin-top: -40px;
}

.item-setting .container {
    width: 900px;
}

.item-setting .container hr {
    margin-top: 100px;
    width: 720px;
}

.item-setting .container h2 {
    color: #43ac43;
    margin-bottom: 15px;
}

.item-setting .container table {
    width: 100%;
    color: #6f7a7e;
    font-size: 18px;
    margin-top: -40px;
}

.head {
    height: 200px;
}

.pet_cell {
    height: 85px;
}

.user-avatar span {
    position: relative;
    left: -120px;
    top: 78px;
    color: #6f7a7e;
    width: 120px;
}

.setting {
    background: #43AC43;
    line-height: 40px;
    width: 150px;
    border-radius: 50px;
    border: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}